
<head>
    <title>News</title>
    <link rel="stylesheet" href="/formatting.css">
</head>
<body>
    {{#each data}}
    <section>
        <h1><a href="news/{{title}}">{{title}}</a></h1>
        <h3>{{date}}</h3>
        <img src="{{imageSrc}}" alt="{{imageAlt}}">
        <p>{{content}}</p>
    </section>
    {{/each}}
    <p>News Page {{pageNum}}</p>
    <a id="prev" href="/news/page/{{prevPage}}" class="{{page}}">< Previous Page</a>
    <a id="next" href="/news/page/{{nextPage}}" class="{{page}}">Next Page ></a>
    <script src="/localnews.js"></script>
</body>